<footer class="footer">
    <div class="container-lg">
        <div class="row py-5">
            <div class="col-sm-3 my-2">
                <h5>Explore</h5>
                <div class="nav flex-column">
                    <a href="#" class="nav-link">About Us</a>
                    <a href="#" class="nav-link">Blog</a>
                </div>
            </div>
            <div class="col-sm-3 my-2">
                <h5>Get in touch</h5>
                <div class="nav flex-column">
                    <a href="#" class="nav-link">Customer Support</a>
                    <a href="faq.html" class="nav-link">FAQ</a>
                </div>
            </div>
        </div>
        <div class="copy">
            Created by EFA | All Right Reserved!
        </div>
    </div>
</footer>