<header class="header">
    <div class="container-lg">
        <a href="index.html" class="logo me-4">
            <img src="images/logo.png" class="img-fluid" alt="">
        </a>
        <div class="navs">
            <ul class="nav nav-desktop">
                <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="tournament.html" class="nav-link">Tournament</a>
                </li>
            </ul>
            <form action="#" class="ps-3 form-search">
                <div class="input-inline is-left">
                    <span class="input-icon"><i class="ico ico-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav align-items-center ms-auto">
                <li class="nav-item m-none">
                    <a href="exchange.html" class="nav-link">Exchange</a>
                </li>
                <li class="nav-item m-none">
                    <a href="wallet.html" class="btn btn-gradient-primary ms-2">Wallet</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="ico ico-bell"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle profile-nav" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="profile-img">
                            <div class="user-img">
                                <img src="images/profile.png" alt="">
                            </div>
                        </div>
                        <div class="px-3 m-none">
                            Irfan
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
                        <li><a class="dropdown-item" href="setting-password.html">Settings</a></li>
                        <li><a class="dropdown-item" href="setting-order.html">Orders</a></li>
                        <li><a class="dropdown-item" href="index.html">Logout</a></li>
                    </ul>
                </li>

            </ul>
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#menu_mobile">
                <i class="ico ico-menu"></i>
            </button>

        </div>
    </div>
    <div class="nav-mobile collapse" id="menu_mobile">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="blog.html" class="nav-link px-3">Blog</a>
            </li>
            <li class="nav-item">
                <a href="tournament.html" class="nav-link px-3">Tournament</a>
            </li>
            <li class="nav-item">
                <a href="exchange.html" class="nav-link px-3">Exchange</a>
            </li>
            <li class="nav-item pt-2">
                <a href="wallet.html" class="mx-3 btn btn-gradient-primary">Wallet</a>
            </li>
        </ul>
    </div>
</header>