<header class="header">
    <div class="container-lg">
        <a href="index.html" class="logo me-4">
            <img src="images/logo.png" class="img-fluid" alt="">
        </a>
        <div class="navs">
            <ul class="nav nav-desktop">
                <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="tournament.html" class="nav-link">Tournament</a>
                </li>
            </ul>
            <ul class="nav align-items-center ms-auto">
                <li class="nav-item pe-3 m-none">
                    Allready have an account?
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn btn-gradient-primary">Login</a>
                </li>
            </ul>
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#menu_mobile">
                <i class="ico ico-menu"></i>
            </button>

        </div>
    </div>
    <div class="nav-mobile collapse" id="menu_mobile">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="blog.html" class="nav-link px-3">Blog</a>
            </li>
            <li class="nav-item">
                <a href="tournament.html" class="nav-link px-3">Tournament</a>
            </li>
        </ul>
    </div>
</header>