{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <div class="card detail">
            <div class="card-body p-5">
                <h1 class="title-3 text-center wd-778 mb-4">Tittle lorem ipsum dolor sit amet Constecturer adispicing</h1>
                <img src="images/empty-img-cover.png" class="w-100 mb-5" alt="">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor dolor in leo
                    sollicitudin, id rhoncus mi rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tempor dolor in leo sollicitudin, id rhoncus mi rutrum. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aliquam tempor dolor in leo sollicitudin, id rhoncus mi rutrum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor dolor in leo
                    sollicitudin, id rhoncus mi rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tempor dolor in leo sollicitudin, id rhoncus mi rutrum. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aliquam tempor dolor in leo sollicitudin, id rhoncus mi rutrum.
                </p>

                <div class="card-meta">
                    <span>Radar 52</span>
                    <span>1 hour ago</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}