{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <h1 class="title-3 my-4">Trending</h1>
        <div class="card">
            <div class="card-body py-0">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="p-3">
                            <a href="blog-detail.html" class="text-white link">
                                <h2 class="title-3 mb-4">
                                    Tittle lorem ipsum dolor sit amet Constecturer adispicing
                                </h2>
                            </a>
                            <p class="text-grey">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor dolor in leo
                                sollicitudin, id rhoncus mi rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Aliquam tempor dolor in leo sollicitudin, id rhoncus mi rutrum.
                            </p>
                            <div class="card-meta">
                                <span>Radar 52</span>
                                <span>1 hour ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="images/empty-img.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="resource pt-4">
            <div class="row">
                <div class="col-md-4 my-3">
                    <div class="card card-resource">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-7 order-lg-1 order-2 mb-3">
                                    <h4 class="title-4 text-grey">Lorem Ipsum</h4>
                                    <p class="text-grey mb-0">
                                        Lorem ipsum dolor sit amet constecturer adisplicing elit. Aliquam tempor dolor
                                        in leo
                                        sollicitudin, id rhoncus mi rutrum. <a href="blog-detail.html" class="link">Read More...</a>
                                    </p>
                                </div>
                                <div class="col-lg-5 order-lg-2 order-1 mb-3">
                                    <img src="images/pubg.jpg" class="w-100" alt="">
                                </div>
                            </div>

                            <div class="card-meta">
                                <span>Radar 52</span>
                                <span>1 hour ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card card-resource">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-7 order-lg-1 order-2 mb-3">
                                    <h4 class="title-4 text-grey">Lorem Ipsum</h4>
                                    <p class="text-grey mb-0">
                                        Lorem ipsum dolor sit amet constecturer adisplicing elit. Aliquam tempor dolor
                                        in leo
                                        sollicitudin, id rhoncus mi rutrum. <a href="blog-detail.html" class="link">Read More...</a>
                                    </p>
                                </div>
                                <div class="col-lg-5 order-lg-2 order-1 mb-3">
                                    <img src="images/pubg.jpg" class="w-100" alt="">
                                </div>
                            </div>

                            <div class="card-meta">
                                <span>Radar 52</span>
                                <span>1 hour ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card card-resource">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-7 order-lg-1 order-2 mb-3">
                                    <h4 class="title-4 text-grey">Lorem Ipsum</h4>
                                    <p class="text-grey mb-0">
                                        Lorem ipsum dolor sit amet constecturer adisplicing elit. Aliquam tempor dolor
                                        in leo
                                        sollicitudin, id rhoncus mi rutrum. <a href="blog-detail.html" class="link">Read More...</a>
                                    </p>
                                </div>
                                <div class="col-lg-5 order-lg-2 order-1 mb-3">
                                    <img src="images/pubg.jpg" class="w-100" alt="">
                                </div>
                            </div>

                            <div class="card-meta">
                                <span>Radar 52</span>
                                <span>1 hour ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end mt-2">
                <a href="#" class="btn btn-gradient-primary">Lihat Semua</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}