{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <h1 class="title-3 my-4">Exchange</h1>
        <div class="input-inline is-left wd-384">
            <span class="input-icon"><i class="ico ico-search"></i></span>
            <input type="text" class="form-control form-light" placeholder="Search for game tournament ">
        </div>

        <div class="row mt-4">
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <div class="product-thumb">
                        <img src="images/product-thumb.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="mt-4 px-2">
                            <a href="exchange-detail.html" class="btn btn-gradient-primary w-100">View</a>
                        </div>
                        <div class="date-created">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}