{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <h1 class="title-3 mt-4 mb-5">History</h1>
        <div class="table-responsive">
            <table class="table table-order">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Transaction</td>
                        <td>Platform Currency</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>02/12/2022</td>
                        <td>Topup</td>
                        <td>+150</td>
                        <td>
                            +Rp 3.000.000,00
                        </td>
                    </tr>
                    <tr>
                        <td>02/12/2022</td>
                        <td>Topup</td>
                        <td>+150</td>
                        <td>
                            +Rp 3.000.000,00
                        </td>
                    </tr>
                    <tr>
                        <td>02/12/2022</td>
                        <td>Topup</td>
                        <td>+150</td>
                        <td>
                            +Rp 3.000.000,00
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}