{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="hero" style="background: url(images/men-playing-video-games.png) no-repeat center center/cover;">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-7">
                    <h1>
                        Daftarkan diri Anda untuk mengikuti berbagai tournament dari kami.
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit.
                    </p>
                    <a href="#" class="btn btn-gradient-primary">Daftar Sekarang</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}