{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <div class="text-center mt-5">
            <img src="images/clap.svg" class="mb-4" alt="">
            <h3 class="title-3">Order Review</h3>
            <p class="text-grey">
                Thankyou so much for your purchase! You will receive your email confirmation shortly.
            </p>
        </div>

    </div>
</div>

{% endblock %}