{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-login.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="auth-container">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <h1 class="title-h1 mb-2 mt-4">
                        Forgot Password
                    </h1>
                    <p class="mb-5 text-grey">
                        Enter your email address and we’ll send you a link to reset your password
                    </p>
                    <div class="auth-form">
                        <form action="#">
                            <div class="mb-5">
                                <label class="mb-2">New Password</label>
                                <input type="password" class="form-control" placeholder="Set your account password">
                            </div>
                            <button type="submit" class="btn btn-gradient-primary w-100">Set Password and Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <img src="images/Illustration-login.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}