{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <h1 class="title-3 my-4">Your Account</h1>
        <ul class="nav nav-setting">
            <li class="nav-item">
                <a href="setting-password.html" class="nav-link active">Password</a>
            </li>
            <li class="nav-item">
                <a href="setting-order.html" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a href="setting-deactive.html" class="nav-link">Deactive Account</a>
            </li>
        </ul>
        <form action="#" style="max-width: 349px;">
            <div class="mb-4">
                <label class="mb-2">New Password</label>
                <input type="password" class="form-control" placeholder="Enter your new password">
            </div>
            <div class="mb-4">
                <label class="mb-2">New Password Confirmation</label>
                <input type="password" class="form-control" placeholder="Enter your new password confirmation">
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-gradient-primary w-100">Change Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}