{% extends "src/layouts/layouts.html" %}
{% block header %}
{% include "src/components/header-logged.html" %}
{% endblock %}
{% block content %}

<div class="page-wrapper">
    <div class="container-lg mb-5">
        <h1 class="title-3 my-4">Mobile legend</h1>
        <div class="input-inline is-left wd-384">
            <span class="input-icon"><i class="ico ico-search"></i></span>
            <input type="text" class="form-control form-light" placeholder="Search for game tournament ">
        </div>

        <div class="row mt-4">
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <a href="#gallery" data-bs-toggle="modal">
                        <div class="product-thumb">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <p>
                            Mobile legend Cup 2022
                        </p>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>16 Room</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>5 Participants</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>25 December 2022 at 10:00 WIB</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>150</p>
                            </div>
                        </div>
                        <div class="date-reg">
                            <p>Open Registeration</p>
                            <p class="text-grey">02-20 Desember</p>
                        </div>
                        <div class="px-2">
                            <a href="#registerSuccess" class="btn btn-gradient-primary w-100"
                                data-bs-toggle="modal">Registration</a>
                        </div>
                        <div class="date-created text-white">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <a href="#gallery" data-bs-toggle="modal">
                        <div class="product-thumb">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <p>
                            Mobile legend Cup 2022
                        </p>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>16 Room</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>5 Participants</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>25 December 2022 at 10:00 WIB</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>150</p>
                            </div>
                        </div>
                        <div class="date-reg">
                            <p>Open Registeration</p>
                            <p class="text-grey">02-20 Desember</p>
                        </div>
                        <div class="px-2">
                            <a href="#registerSuccess" class="btn btn-gradient-primary w-100"
                                data-bs-toggle="modal">Registration</a>
                        </div>
                        <div class="date-created text-white">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <a href="#gallery" data-bs-toggle="modal">
                        <div class="product-thumb">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <p>
                            Mobile legend Cup 2022
                        </p>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>16 Room</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>5 Participants</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>25 December 2022 at 10:00 WIB</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>150</p>
                            </div>
                        </div>
                        <div class="date-reg">
                            <p>Open Registeration</p>
                            <p class="text-grey">02-20 Desember</p>
                        </div>
                        <div class="px-2">
                            <a href="#registerSuccess" class="btn btn-gradient-primary w-100"
                                data-bs-toggle="modal">Registration</a>
                        </div>
                        <div class="date-created text-white">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="card card-poduct">
                    <a href="#gallery" data-bs-toggle="modal">
                        <div class="product-thumb">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="product-title">
                            <div>
                                <div class="product-logo">
                                    <img src="images/eva-logo.jpg" alt="">
                                </div>
                            </div>
                            <div class="ps-2">
                                <h3>E-Sport Fight Arena</h3>
                            </div>
                        </div>
                        <p>
                            Mobile legend Cup 2022
                        </p>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>Mobile legend : Bang-bang</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>16 Room</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>5 Participants</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>25 December 2022 at 10:00 WIB</p>
                            </div>
                        </div>
                        <div class="product-cat">
                            <div class="cat-img cat-img-small">
                                <img src="images/stick.svg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-2">
                                <p>150</p>
                            </div>
                        </div>
                        <div class="date-reg">
                            <p>Open Registeration</p>
                            <p class="text-grey">02-20 Desember</p>
                        </div>
                        <div class="px-2">
                            <a href="#registerSuccess" class="btn btn-gradient-primary w-100"
                                data-bs-toggle="modal">Registration</a>
                        </div>
                        <div class="date-created text-white">
                            Created at 12 December 2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerSuccess" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-success">
                    <img src="images/clap.svg" class="img-fluid" alt="">
                    <h3 class="title-3 mt-5">Selamat</h3>
                    <p class="text-grey">Registrasi anda berhasil !</p>
                    <div class="d-flex justify-content-center mt-5">
                        <div style="width:205px">
                            <a href="tournament-bracket.html" class="btn btn-gradient-primary w-100">Oke</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal modal-gallery fade" id="gallery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="ico ico-close ico-white"></i>
            </button>
            <div class="modal-body">
                <div class="swiper gallery-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/pubg.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/pubg.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/product-thumb.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}