.card-poduct {
    border-radius: 10px;
    p {
        font-size: 14px;
    }
    .product-thumb {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 87%;
        overflow: hidden;
        border-radius: 10px;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .product-title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .product-logo {
            position: relative;
            width: 45px;
            height: 0;
            padding-bottom: 45px;
            overflow: hidden;
            border-radius: 50%;
            @include media-breakpoint-down(sm) {
                width: 20px;
                padding-bottom: 20px;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 110%;
                height: 110%;
                object-fit: cover;
            }
        }
        h3 {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }
        }
    }
    .product-cat {
        display: flex;
        margin-bottom: 5px;
        .cat-img {
            flex: 0 0 45px;
            max-width: 45px;
            text-align: center;
            @include media-breakpoint-down(sm) {
                flex: 0 0 20px;
                max-width: 20px;
            }
            &.cat-img-small {
                flex: 0 0 30px;
                max-width: 30px;
                text-align: left;
            }
        }
        p {
            color: rgba(255, 255, 255, 0.6);
            font-size: 13px;
            padding-top: 4px;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                font-size: 11px;
            }
        }
    }
    .date-created {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        padding-top: 10px;
    }
    .date-reg {
        margin: 25px 0;
        p {
            font-size: 12px;
            margin-bottom: 3px;
        }
    }
}

.btn {
    @include media-breakpoint-down(sm){
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
