.ico {
    display: inline-block;
    vertical-align: sub;
}

.ico-menu {
    background: url(../images/menu.svg) no-repeat center center/contain;
    width: 23px;
    height: 23px;
}
.ico-search {
    background: url(../images/search.svg) no-repeat center center/contain;
    width: 18px;
    height: 18px;
}
.ico-bell {
    background: url(../images/bell.svg) no-repeat center center/contain;
    width: 30px;
    height: 30px;
}
.ico-filter {
    background: url(../images/filter-solid.svg) no-repeat center center/contain;
    width: 18px;
    height: 18px;
}
.ico-close {
    background: url(../images/xmark.svg) no-repeat center center/contain;
    width: 20px;
    height: 20px;
}
.ico-edit {
    background: url(../images/edit.svg) no-repeat center center/contain;
    width: 20px;
    height: 20px;
}

.ico-camera {
    background: url(../images/camera-solid.svg) no-repeat center center/contain;
    width: 20px;
    height: 20px;
}
